.App {
  text-align: center;
}

.App-header {
  background-color: #521028;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1{
  margin-bottom: 25px;
}

.pixel-heart {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.error-text {
  font-size: small;
  margin-top: 25px;
} 
.instructions-text {
  font-family: 'Helvetica';
  font-size: 3vw;
}

input.password-input {
  border: 1px solid;
  color: black;
  margin: 20px;
  padding: 16px;
  border-radius: 10px;
  font-weight: 100;
}

input.password-input::placeholder {
  color: gray;
  letter-spacing: .5px;
}
.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 6px;
  border-radius: 4px;
}