@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('/helvetica-255-webfont/Helvetica.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 400;
  src: url('/helvetica-255-webfont/Helvetica-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  src: url('/helvetica-255-webfont/Helvetica-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 700;
  src: url('/helvetica-255-webfont/Helvetica-BoldOblique.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: 300;
  src: url('/helvetica-255-webfont/helvetica-light-587ebe5a59211.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Compressed';
  font-style: normal;
  font-weight: 400;
  src: url('/helvetica-255-webfont/helvetica-compressed-5871d14b6903a.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Rounded Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/helvetica-255-webfont/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}